<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="/templates/admin.css"> -->
    <title>Admin Page</title>
</head>

<body>
    <div id="login">
        <input type="password" id="pwd">
        <button onclick="init()">Submit</button>
    </div>

    <div style="display: none;" id="cont">
        <button onclick="setCookie('loggedIn', false, false)">logout</button>
        <button onclick="location.href = '/user'">TO USER PAGE</button>
        <button onclick="location.href = '/'">TO LOGIN PAGE</button>
        <h1>EVENTS</h1>
        <input type="text" placeholder="Enter Name" id="inputFeild">
        <input type="number" placeholder="MM" id="month">
        <input type="number" placeholder="DD" id="day">
        <input type="number" placeholder="YYYY" id="year">
        <input type="time" id="time">
        <input type="text" placeholder="Enter Event Name" id="eventName">
        <button
            onclick="addelete('POST', '/adminadmin', { 'name': document.getElementById('inputFeild').value, 'month': document.getElementById('month').value, 'day': document.getElementById('day').value, 'year': document.getElementById('year').value, 'time' : document.getElementById('time').value,'eventName': document.getElementById('eventName').value }, false)">Send
            Data</button>
        <button
            onclick="addelete('DELETE', '/adminadmin', { 'name': document.getElementById('inputFeild').value, 'month': document.getElementById('month').value, 'day': document.getElementById('day').value, 'year': document.getElementById('year').value, 'time' : document.getElementById('time').value,'eventName': document.getElementById('eventName').value }, false)">Delete
            Data</button>
        <button id="getData" onclick="get()">GET</button>

        <br>
        <br>
        <label for="unameDel">Enter name of user: </label>
        <input type="text" placeholder="Enter Name" id="unameDel">
        <label for="pwdDel">Enter pwd of user: </label>
        <input type="text" placeholder="Enter password" id="pwdDel">
        <label for="ldDel">Enter style for user</label>
        <select name="ld" id="ldDel">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
        </select>

        <button
            onclick="addelete('POST', '/adduser', { 'name': document.getElementById('unameDel').value, 'pwd': document.getElementById('pwdDel').value, 'ld' : document.getElementById('ldDel').value}, true)">Add
            User</button>

        <button
            onclick="addelete('DELETE', '/adduser', { 'name': document.getElementById('unameDel').value, 'pwd': document.getElementById('pwdDel').value, 'ld': document.getElementById('ldDel').value}, true)">Delete
            User</button>

        <button id="getUser" onclick="getuser()">GET</button>
        <br>
        <br>

        <label for="themeUser">Add theme User</label>
        <input type="text" id="themeUser" placeholder="Add Theme User">
        <button
            onclick="addelete('POST', '/themes', {'username': document.getElementById('themeUser').value}, false)">Add</button>

        <p id="response"></p>
        <br>
        <div id="databaseData"></div>
        <br>
        <hr>
        <br>
        <div id="users"></div>
        <br>
        <hr>
        <br>
        <div id="themes"></div>
    </div>
    <!-- <script src="{{ url_for('static', filename='admin.js') }}"></script> -->
    <script>
        // let update = setInterval(() => {
        document.getElementById('getUser').click()
        document.getElementById('getData').click()
        // }, 1000);

        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        // Set a cookie named "username" with value "JohnDoe" that expires in 7 days
        // setCookie("username", "JohnDoe", 7);

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }




        if (document.cookie.split(';').length == 0) {
            setCookie("loggedIn", false, false)
        }

        function init() {
            if (!getCookie("loggedIn")) {
                if (document.getElementsByTagName('input')[0].value != "sjgknkotghiortnhiojnertiohnrthnekondflhnkfdnfdioghnkljirotnkhnlrthn;4riweothnot;hnkltnreghortghkndfl;hnotnhkrtlnio;rtionkhfd;ordlkfhnldkfgh;klnehrtniorkl;hnoirthnoi;") {
                    return alert("incorrect password")
                }
            }

            setCookie("loggedIn", true, 1)
            document.getElementById('login').style.display = 'none';
            document.getElementById('cont').style.display = 'block';
        }

        function addelete(methodused, route, data_sent, user) {

            console.log(`${data_sent} ! ${methodused}`)
            fetch(`${route}`, {
                method: methodused,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_sent)
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('response').textContent = data.message;
                    if (!user) {
                        get()
                    } else {
                        getuser()
                    }
                    getthemes()
                })
                .catch(error => console.error('Error:', error));
        }
        async function getthemes() {
            fetch('/themes', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(resp => resp.json())
                .then(data => {
                    document.getElementById('themes').innerHTML = '';
                    for (let i = 0; i < data.name.length; i++) {
                        breakEle = document.createElement('br');
                        document.getElementById('themes').append(`${data.name[i]}`, breakEle);
                    }
                })
        }

        function get() {
            fetch('/adminadmin', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(resp => resp.json())
                .then(data => {
                    document.getElementById('databaseData').innerHTML = '';
                    for (let i = 0; i < data.name.length; i++) {
                        breakEle = document.createElement('br');
                        document.getElementById('databaseData').append(`${data.name[i]} | ${data.month[i]}/${data.day[i]}/${data.year[i]} | ${data.time[i]} | ${data.eventName[i]}`, breakEle)
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        function getuser() {
            return fetch('/adduser', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('users').innerHTML = '';
                    // for i in # of users
                    for (let i = 0; i < data.name.length; i++) {
                        breakEle = document.createElement('br');
                        document.getElementById('users').append(`${data.name[i]} | ${data.pwd[i]}`, breakEle)
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>

</html>